<main>
    <ul id="chatLog"></ul>
    <div id="signal">
        <em></em>
    </div>
    <form action="">
        <div>
            <label for="message"></label>
            <input id="message" type="text"/>
            <button>Send</button>
        </div>
    </form>
</main>
<aside>
    <ul></ul>
</aside>
