<form action="/" method="POST">
    <div>
        <label for="username">User Name</label>
    </div>
    <input id="username" name="username" type="text"/>
    <button type="submit">Submit</button>
</form>